
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>

<!--18.GÜN rooting'i öğreniyoruz
<app-product></app-product> yerine <router-outlet></router-outlet> bunu geçirdik.
<router-outlet></router-outlet> => değişkenleri burada görüntüleyeceğiz.

yani standart olmasını istediğin yerleri normal ver, dinamik olmasını istediğin yere <router-outlet> yaz.
tabiki bunu daha ileri uygulamalarda,ilerleyen zamanlarda bir tane "Dashboard" componenti yapıp,
veya bir e-ticaret uygulamasında satış component'i,dashboard'u yapıp herşeyi onun içine koyabilirsiniz.
Dolayısıyla mesela admin sayfalarındaki layout'u bu şekilde değiştirebilirsiniz.
tabi orada yine modüllerle çalışma dediğimiz mevzu devreye giriyor ilerleyen zamanlarda göreceğiz.



-->
<!--Angular'ın devreye girebilmesi için {{}} süslü parantez içine angular kodunu yazıyoruz.
Html bunu algılayıp componente gidip datayı getiriyor.
*ngFor = bunlara "directive" deniyor. Bildiğimiz ForEach döngüsü.
let keyword'ü bizim c# daki var gibi. Normalde burada da "var" keyword'ü var ama "let" daha güvenli tiplerle çalışmamızı sağlıyor.

-->

<!-- DENEME
Welcome to {{title}}
Hello {{user}}

{{product1.productName}}

<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul> -->