
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


<!--Angular'ın devreye girebilmesi için {{}} süslü parantez içine angular kodunu yazıyoruz.
Html bunu algılayıp componente gidip datayı getiriyor.
*ngFor = bunlara "directive" deniyor. Bildiğimiz ForEach döngüsü.
let keyword'ü bizim c# daki var gibi. Normalde burada da "var" keyword'ü var ama "let" daha güvenli tiplerle çalışmamızı sağlıyor.

-->

<!-- DENEME
Welcome to {{title}}
Hello {{user}}

{{product1.productName}}

<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul> -->